{% extends 'base.html.twig' %}

{% block title %}Todo App{% endblock %}

{% block body %}
	<div class="max-w-screen-md mx-auto my-12">
		<h1 class="text-2xl font-semibold mb-2">ToDo List</h1>
		<div class="border border-gray-400 p-8 rounded-md">
        Form</div>
	</div>
{% endblock %}
